<!--MENU ITEMS-->
<section>
    <div id="csi-menu" class="csi-menu">
        <div class="csi-inner">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="csi-heading">
                            <h3 class="subtitle">Zobacz jakie dania dla Ciebie przygotowaliśmy</h3>
                            <h2 class="title">Lista dań</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">

                        <div class="csi-nav-pills-area">
                            <ul class="nav nav-pills csi-nav-pills">
                              <li class="active"><a data-toggle="pill" href="#home"> Wszystkie</a></li>
                                <% @kategorie.each do |kategoria| %>
                                    <li><a data-toggle="pill" href="##<%= kategoria.nazwa.parameterize %>"> <%= kategoria.nazwa %></a></li>
                                <% end %>
                            </ul>
                        </div>

                        <div class="tab-content csi-tab-content">
                            <div id="home" class="tab-pane fade in active">

                                <% @dania.each do |danie| %>
                                  <div class="csi-single-tab">
                                      <div class="menu-thumb">
                                          <a href="" onClick="return false;">
                                            <%= image_tag(danie.obrazek, alt: "#{danie.nazwa}", width: "600") %>
                                            <!-- <img src="http://placehold.it/600x600" alt=""> -->
                                          </a>
                                      </div>
                                      <div class="menu-content">
                                          <div class="csi-info">
                                              <div class="title-area">
                                                  <h3 class="title"><a><%= danie.nazwa %></a></h3>
                                                  <p class="price">
                                                      <%= danie.suma_wartosci_energetycznej %><span>kcal</span>
                                                  </p>
                                              </div>
                                              <p class="text">
                                                  <%= danie.opis %>
                                              </p>
                                          </div> <!--//.single tab-->
                                      </div>
                                  </div><!--//.csi-single-tab-->
                                <% end %>

                            </div>


                            <% @kategorie.each do |kategoria| %>

                              <div id="<%=kategoria.nazwa.parameterize %>" class="tab-pane fade">

                                <% kategoria.dania.each do |danie| %>
                                    <div class="csi-single-tab">
                                        <div class="menu-thumb">
                                            <a href="" onClick="return false;">
                                              <%= image_tag(danie.obrazek, alt: "#{danie.nazwa}", width: "600") %>
                                              <!-- <img src="http://placehold.it/600x600" alt=""> -->
                                            </a>
                                        </div>
                                        <div class="menu-content">
                                            <div class="csi-info">
                                                <div class="title-area">
                                                    <h3 class="title"><a><%= danie.nazwa %></a></h3>
                                                    <p class="price">
                                                        <%= danie.suma_wartosci_energetycznej %><span>kcal</span>
                                                    </p>
                                                </div>
                                                <p class="text">
                                                    <%= danie.opis %>
                                                </p>
                                            </div> <!--//.single tab-->
                                        </div>
                                    </div><!--//.csi-single-tab-->
                                  <% end %>

                              </div>

                            <% end %>

                        </div>

                    </div>
                </div>
            </div><!-- //.CONTAINER -->
        </div><!-- //.INNER -->
    </div>
</section>
<!--MENU ITEMS END-->
