<div class='large-6 columns'>
  <%= render 'backend/notice', notice: notice if notice %>

  <p>
    <h3>Szczegóły kategorii: <%= @kategoria.nazwa %></h3>
  </p>

  <p>
    <strong>Aktywna:</strong>
    <%= fa_icon(@kategoria.aktywna ? "check" : "times") %>
  </p>

  <%= link_to 'Edytuj', edit_backend_kategoria_path(@kategoria), class: 'button' %> |
  <%= link_to 'Przejdź do listy', backend_kategorie_path, class: 'button' %>
</div>
