<div class='large-6 columns'>
  <%= render 'backend/notice', notice: notice if notice %>


  <p>
    <h3>Szczegóły składnika <b><%= @skladnik.nazwa %></b><h3>
  </p>

  <p>
    <strong>Wartosc energetyczna:</strong>
    <%= @skladnik.wartosc_energetyczna %>
  </p>

  <p>
    <strong>Opis:</strong>
    <%= @skladnik.opis %>
  </p>

  <p>
    <strong>Link do obrazka:</strong>
    <%= @skladnik.obrazek %>
  </p>

  <%= link_to 'Edytuj', edit_backend_skladnik_path(@skladnik), class: 'button' %>
  <%= link_to 'Przejdź do listy', backend_skladniki_path, class: 'button' %>
</div>

<%= render 'obrazek' if !@skladnik.obrazek.blank? %>
