<%= form_with(model: [:backend,danie], local: true) do |form| %>
  <% if danie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(danie.errors.count, "error") %> powstrzymały ten składnik przed zapisaniem:</h2>

      <ul>
      <% danie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nazwa %>
    <%= form.text_field :nazwa, id: :danie_nazwa %>
  </div>

  <div class="field">
    <%= form.label :kategoria %>
    <%= form.collection_select :kategoria_id, Kategoria.all, :id, :nazwa %>
  </div>

  <div class="field">
    <%= form.label :suma_wartosci_energetycznej %>
    <!--
      @TODO - pole powinno być zablokowane do edycji!
      https://apidock.com/rails/ActionView/Helpers/FormTagHelper/text_field_tag
      Szukaj disabled
    -->
    <%= form.number_field :suma_wartosci_energetycznej, id: :danie_suma_wartosc_energetyczna %>
  </div>

  <div class="field">
    <%= form.label :dodatkowa_wartosc_energetyczna %>
    <%= form.number_field :dodatkowa_wartosc_energetyczna, id: :danie_dodatkowa_wartosc_energetyczna %>
  </div>

  <div class="field">
    <%= form.label :opis %>
    <%= form.text_area :opis, id: :danie_opis %>
  </div>

  <div class="field">
    <%= form.label :obrazek %>
    <%= form.text_field :obrazek, id: :danie_obrazek %>
  </div>

  <div class="field">
    <%= form.label :polecane %>
    <%= form.check_box :polecane, id: :danie_polecane %>
  </div>

  <div class="field">
    <%= form.label :aktywne %>
    <%= form.check_box :aktywne, id: :danie_aktywne %>
  </div>

  <hr />
  <!-- <div class="field"> -->
    <%#= form.label :skladniki %>
    <%#= form.collection_check_boxes(:skladnik_ids, Skladnik.all, :id, :nazwa) %>
  <!-- </div> -->

  <table class="hover">
    <thead>
      <tr>
        <th></th>
        <th>Nazwa</th>
        <th>Wartosc energetyczna</th>
        <th>Obrazek</th>
      </tr>
    </thead>

    <tbody>
      <% @skladniki.each do |skladnik| %>
        <tr>
          <td><%= check_box_tag "danie[skladnik_ids][]",
                  skladnik.id,
                  @danie.skladniki.include?(skladnik) %>
          </td>
          <td><%= link_to(skladnik.nazwa, [:backend, skladnik])  %></td>
          <td><%= skladnik.wartosc_energetyczna %></td>
          <td><%= image_tag skladnik.obrazek, width: 30 %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="actions">
    <%= link_to 'Anuluj',
        backend_dania_path,
        class: 'button',
        data: { confirm: 'Czy na pewno chcesz wyjść z formularza?'} %>

    <%= form.submit 'Zapisz', class: 'button success' %>
  </div>
<% end %>
