<!DOCTYPE html>
<html class="no-js" lang="en">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="Aplikacja internetowa w Ruby on Rails stworzona podczas zajęć na Uniwersytecie Dzieci" />
    <meta name="keywords" content="jedzenie, dieta" />
    <meta name="author" content="Herman Sadik" />

    <title>Dietetyk</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'frontend', media: 'all'%>
    <%= javascript_include_tag 'frontend' %>

    <!-- GOOGLE FONT -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900%7cCookie"/>

    <!-- MASTER  STYLESHEET  -->
    <%= stylesheet_link_tag    'frontend_main', media: 'all'%>
    <!-- <link id="csi-master-style" rel="stylesheet" href="assets/css/style-default.min.css" media="all" /> -->

    <!-- MODERNIZER CSS  -->
    <!-- <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script> -->
    <%#= javascript_include_tag 'vendor/modernizr' %>

</head>
<body class="home">

<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div class="csi-container ">
    <!-- ***  Tutaj dodaj kod źródłowy strony *** -->

    <%= render 'frontend/header' %>

    <%= render 'frontend/slider' %>

    <%= render 'frontend/o_nas' %>

    <%= render 'frontend/polecane' %>

    <%= render 'frontend/dania' %>

    <%#= render 'frontend/kontakt' %>

    <%= render 'frontend/stopka' %>

</div> <!--//.csi SITE CONTAINER-->
<!-- *** ADD YOUR SITE SCRIPT HERE *** -->


<!-- if load google maps then load this api, change api key as it may expire for limit cross as this is provided with any theme -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY"></script>


</body>
</html>
